.cart{
    height: 45vh;
    padding: 2em 2em 0 0.5em;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}

.cart_items span{
    font-weight: 700;
}

.table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table thead{
    border-bottom: 2px solid rgb(214, 207, 207);
}
.table td{
    padding-top: 0.5em;
}

/*  */
.cart_total{
    background: #4c4848;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cart_total span, .button{
    font-weight: 600;
}
.cart_total p{
    padding-bottom: 0.8em;
}
.button{
    width: 70%;
}
.button button{
    width: 100%;
    font-weight: 700;
}

@media (max-width: 1200px){
    .cart{
        grid-template-columns: 3fr;
        gap: 40px;
    }
    .button{
        width: 30%;
    }
}